<input type="text" name="title" placeholder="Search" [(ngModel)]="searchItem" class="form-control">
<br>
<br>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
 <div class="col" *ngFor="let product of products|search: searchItem">
  <div class="card border border-dark" style="width: 18rem;">
    <img src="{{product.productImage}}" class="card-img-top border border-dark" alt="...">
    <div class="card-body m-4" >
      <h5 class="card-title">{{product.productname}}</h5>
      <p class="card-title">{{product.description}}</p>
      <p class="card-text"><bold>Price:</bold>{{product.price | currency:'INR'}}</p>
      <button class="btn btn-danger text-white" *ngIf="currentUser=='admin'"(click)="onDelete(product)">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="26" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
        </svg>Delete</button>
      <button class="btn btn-success text-white" *ngIf="currentUser!='admin'" (click)="onSelect(product)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-handbag" viewBox="0 0 16 16">
          <path d="M8 1a2 2 0 0 1 2 2v2H6V3a2 2 0 0 1 2-2zm3 4V3a3 3 0 1 0-6 0v2H3.36a1.5 1.5 0 0 0-1.483 1.277L.85 13.13A2.5 2.5 0 0 0 3.322 16h9.355a2.5 2.5 0 0 0 2.473-2.87l-1.028-6.853A1.5 1.5 0 0 0 12.64 5H11zm-1 1v1.5a.5.5 0 0 0 1 0V6h1.639a.5.5 0 0 1 .494.426l1.028 6.851A1.5 1.5 0 0 1 12.678 15H3.322a1.5 1.5 0 0 1-1.483-1.723l1.028-6.851A.5.5 0 0 1 3.36 6H5v1.5a.5.5 0 1 0 1 0V6h4z"/>
        </svg> Add to Cart</button>
    </div>
  </div>
</div>
</div>

