/* #bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
  } */
  /* #bg img {
    position: absolute; 
    top: 150px; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
  } */
   

  #bg img {
    width:1500px;
    height:1000px;
  }